# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme123
GF_USERS_ALLOW_SIGN_UP=false

# App
APP_ENV=development
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_SERVICE_NAME=fastapi-demo-app

# AWS (for Boto3 scripts in scripts/alertmanager_sns.py)
AWS_DEFAULT_REGION=us-east-1
ALERT_EMAIL=alerts@example.com
ALERTMANAGER_URL=http://localhost:9093
PROMETHEUS_URL=http://localhost:9090
