# Python
app/venv/
scripts/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.local

# Data directories
prometheus/data/
loki/data/
grafana/data/
jaeger/data/
jaeger/key/

# AWS
.aws/

# Editor
.vscode/
.idea/
*.swp
